[submodule "submodules/geocamUtilWeb"]
	path = submodules/geocamUtilWeb
	url = git://github.com/geocam/geocamUtilWeb.git
[submodule "submodules/geocamMapSet"]
	path = submodules/geocamMapSet
	url = git://github.com/geocam/geocamMapSet.git
[submodule "submodules/geocamFolderWeb"]
	path = submodules/geocamFolderWeb
	url = http://github.com/geocam/geocamFolderWeb.git
[submodule "submodules/geocamCoreWeb"]
	path = submodules/geocamCoreWeb
	url = http://github.com/geocam/geocamCoreWeb.git
[submodule "submodules/geocamAppEngineLibs"]
	path = submodules/geocamAppEngineLibs
	url = git://github.com/geocam/geocamAppEngineLibs.git
