{% extends "base.html" %}

{% block head %}
<title>ResponderMaps - SF Bay Area</title>
{% endblock head %}

{% block contents %}

<div style="max-width: 800px">

<p>The ResponderMaps Common Operating Picture Platform, now under
development, is a map sharing system for emergency management, designed
to help teams coordinate and improve situation awareness.</p>

<p>ResponderMaps will provide a wiki-like interface where participating
organizations can share their map information using open standard
formats. ResponderMaps' layers and live feeds will eventually support all
hazards and all phases of the emergency management process.</p>

<p>The first ResponderMaps pilot project is to assemble a common operating
picture for emergency management in the SF Bay Area. We are working with
a variety of agencies and companies to learn requirements and find relevant
data sets.</p>

<p><a class="welcomeEntry" href="{% url geocamMapSet_dashboard %}">View user-contributed map sets &gt;&gt;</a></p>

</div>

{% endblock contents %}
