<div id="header">
  <div>
    <img width="347" height="50" src="{{ STATIC_URL }}responderMaps/icons/responderMapsLogo.png"/>
  </div>
  <div id="navBar">
    <span class="navLink"><a href="{% url responderMaps_welcome %}">Welcome</a></span>
    <span class="navLink"><a href="{% url responderMaps_feature %}">Prototype</a></span>
  {% if user.is_authenticated %}
    <a href="{{ logout_url }}"                                                
       title="Logout">
      <span class="in" style="color: #008; font-weight: bold;">Logout</span>
    </a>
    <span style="font-weight: bold;">{{ user.first_name }}</span>
  {% else %} <!-- user.is_authenticated -->
    <a href="{{ login_url_with_next }}"
       title="Login">
      <span class="in" style="color: #008; font-weight: bold;">Login</span>
    </a>
  {% endif %} <!-- user.is_authenticated (else) -->
  </div>
</div>
