{% extends "base.html" %}

{% block head %}
<title>SF Bay Common Operating Picture</title>
{% endblock head %}

{% block contents %}

<div style="max-width: 800px">

<p>The San Francisco Bay Common Operating Picture, now under
development, is a map sharing system for emergency management, designed
to help teams coordinate and improve situation awareness.</p>

<p>BayCOP will provide a wiki-like interface where participating
organizations can share their map information using open standard
formats. BayCOP's map layers and live feeds will eventually support all
hazards and all phases of the emergency management process.</p>

<p><a class="welcomeEntry" href="{% url bayMaps_home %}">View a prototype common operating picture &gt;&gt;</a></p>

</div>

{% endblock contents %}
